<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adder.mapper.UserLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.adder.pojo.UserLog">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="username" property="username" />
        <result column="lastloginip" property="lastloginip" />
        <result column="lastlogintime" property="lastlogintime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, username, lastloginip, lastlogintime
    </sql>

</mapper>
